h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2.5em;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3em;
}

.title {

}

.recipe-list {

}

.recipe-title {

}

.recipe-img {

}

.recipe-ingredients-header {

}

.recipe-ingredients-list {

}

.recipe-instructions-header {

}

.recipe-instructions-list {

}

.recipe-notes-header {

}

.recipe-notes-paragraph {
    
}