h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2.5em;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    }

.index-title {

}

.navbar {
    background-color: saddlebrown;
    box-shadow: 0 0 8px rgba(0,0,0,.1); 
    display: flex; 
    justify-content: space-between;
}

.navlist {
    display: flex;
    margin: 0;
    padding: 22px;
    list-style: none;
    gap: 16px;
}

.navlist li a {
    background-color: saddlebrown;
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.recipe-list ul {
    list-style: none;
}

.recipe-list ul li {
    padding-bottom: 8px;
}

.recipe-list li a {
    text-decoration: none;
    color: black;
 }

.footer {
    background-color: rgb(246, 174, 230);
    /*padding: 8px;*/
    margin: 0;
    box-shadow: 0 0 8px rgba(0,0,0,.1); 
    display: flex; 
    justify-content: center;
  }

.footer-list {
    display: flex;
    margin: 0;
    padding: 10px;
    list-style: none;
    gap: 16px;
    justify-content: center;
  }

.footer-list li a {
    background-color: rgb(246, 174, 230);
    color: rgb(74, 74, 74);
    text-decoration: none;
    font-size: 1em;
    font-weight: 300;
}


.recipe-list {

}

.recipe-title {

}

.recipe-img {

}

.recipe-header {

}

.recipe-paragraph {
    
}